
<ion-view view-title="Chats">
    <ion-content>

        <div class="list">

            <a class="item item-thumbnail-left" href="#/tab/socialChatPage">
                <img src="img/ionic.png">
                <h2>Social Chats  <i class="ion-chatboxes icon"></i></h2>
                <p><strong class="energized">7</strong> Persons Online</p>
                <p>0 Unread Messages</p>
            </a>

        </div>

        <div class="list">

            <a class="item item-thumbnail-left" href="#/tab/educationalChatPage">
                <img src="img/ionic.png">
                <h2>Educational Chat <i class="ion-chatboxes icon energized"></i></h2>
                <p><strong class="energized">11</strong> Persons Online</p>
                <p>5 Unread Messages</p>
            </a>

        </div>
    </ion-content>
</ion-view>